.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {

  padding: 30px;
  display: block;
}

.my-custom-scrollbar2 {
  position: relative;
  height: 300px;
  overflow: auto;
}

.card-img-top {
  max-width: 100%;
  max-height: 140px;
  /* Максимальная высота фотографии */
  object-fit: contain;
  /* Вписывание фотографии в контейнер */
  margin-top: 10px;
  /* Отступ между верхом карточки и началом изображения */
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  /* Размер заголовка */
}

.card-text {
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 5px;
  padding: 0;


}

.card {

  height: 100px;
  /* Фиксированная высота карточки */
  width: 300px;
  /* Ширина карточки */

  margin-top: 40px;
  margin-left: 50px;
  margin-right: 0px;
  padding: 0;
  /* Отступ между карточками */
}

.card-body {

  padding: 0%;
}

.card-footer {

  text-align: center;
  padding: 10px;
}


.pagination {
  text-decoration-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  text-decoration-color: black;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.pagination li.active {
  text-decoration-color: black;
  background-color: black;
  color: white;
}

.custom-height {
  height: 40px;
  width: 95px;
  margin-top: 24px;
}

th {
  vertical-align: top;
}



.main-container {
  position: relative;
  height: 90vh;

  margin-left: 90px;
}

.items-container {
  height: 90vh;
  background-image: url('../img/main1.jpg');
  background-size:contain;

}

.category-container {
 
  padding-left: 30px;
  position: absolute;
  margin-top: 30px;
  padding-right: 30px;
  height: 83vh;
  width: 1700px;

  margin-left: 150px;
  background-color: white;

  border-radius: 30px;  
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);

}

.item-container {
  position: absolute;
  width: 1700px;
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;

  margin-top: 100px;
  background-color: white;

  padding-left: 30px;
  margin-left: 150px;
  border-radius: 30px;  
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}

.doc-container {
  
  position: absolute;
  width: 1700px;
  height: 710px;
  overflow-y: scroll;
  overflow-x: hidden;

  margin-top: 120px;
  background-color: white;

  padding-left: 30px;
  margin-left: 150px;
  border-radius: 30px;  
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}
.search-items {
  position: absolute;
  margin-top: 10px;
  width: 1700px;
  height: 35px;
  display: flex;
  padding: 40px;
  align-items: center;

  margin-left: 150px;
  margin-bottom: 10px;

  background-color: white;
  border-radius: 30px;  
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}

.col-md-4 {
  color: white;

  width: 450px;
  height: 400px;

  border-color: #F84E77;
  border-width: 1px;
  border-radius: 20px;

  background-color: #F84E77;

  margin-left: 90px;
  margin-top: 25px;
}

.add-category-btn {
  width: 200px;
  color: white;
  border-radius: 18px;
  border-color: white;

  margin-top: 50px;

}

.add-category-btn {
  width: 200px;
  color: white;
  border-radius: 18px;
  border-color: white;

  margin-top: 50px;
}

.add-category-btn:hover {
  color: white;
  background-color: #1baaa0;
  transform: translateY(2px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-control-descrip {
  border-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  width: 425px;
  height: 100px;
}

.search {
  position: absolute;
  margin-top: 20px;
  width: 700px;
  height: 25px;
  display: flex;
  padding: 40px;
  align-items: center;

  margin-left: 150px;
  margin-bottom: 10px;

  background-color: white;
  border-radius: 30px;  
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}

.search2 {
  position: absolute;
  margin-top: 10px;
  width: 700px;
  height: 25px;
  display: flex;
  padding: 40px;
  align-items: center;

  margin-left: 700px;
  margin-bottom: 10px;

  background-color: white;
  border-radius: 30px;  
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}




.search-analysis {


  width: 700px;
  height: 35px;
  display: flex;
 
  align-items: center;

  margin-top: 50px;
  margin-left: 30px;
}




.report-container {
  max-width: 1720px;
  display: flex;
  margin-left: 0px;
 
}

.view-card {
  height: 300px;
  max-height: 300px;
  width: auto;
  margin: 20px;
}

.view-background {
  height: 90vh;
}

.view-main {
  margin-top: 0px;
 
  border-radius: 20px;
  
  height: 500px;

}

